
<!--MAY NEED TO REMOVE BODY SECTION-->
<!--<body class="backgroundNgannu">-->

  <div id="wrapper">
    <div class="header">
      <h1>MMA Stream</h1>
      <!--UFC card carousel-->
      <a href="/saved">Saved Articles</a>
      <a class="scrape-new"><button type="button">Scrape New Articles!</button></a>
      <div class="card-img">
        <img id="ngannu" class="img-display" src="https://i.ytimg.com/vi/UrrTJmJtfHY/hqdefault.jpg" alt="Card image"
          alt="ngannu">
        <img id="wandy" class="img-hidden" src="https://i.pinimg.com/originals/6e/7f/45/6e7f45f6213d4121c24aa40d7113836e.jpg"
          alt="wanderlei">
        <img id="gracie" class="img-hidden" src="http://cdn2.sbnation.com/imported_assets/1033678/Gracie_204.jpg" alt="gracie">
        <img id="m-page" class="img-hidden" src="https://usatmmajunkie.files.wordpress.com/2016/08/michael-page-bellator-158-1.jpg?w=1000&h=600&crop=1"
          alt="michael page">
        <img id="cro-cop" class="img-hidden" src="http://2.bp.blogspot.com/-GC0ZzD0Tu48/UdD5oa7zDAI/AAAAAAAAA0E/w1c1M_UckIQ/s500/k1crocop.jpg">
      </div>
    </div>
    <h2><i>Click the headlines to review and comment on the latest news and articles from around MMA</i></h2>
    <div class="article-container"></div>
    <div id="notes"></div>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="../../assets/javascript/saved.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
<!--</body>-->

